<!--<button type="button" class="btn btn-primary" style="color:white" (click)="jumpDetail($event);$event.stopPropagation();">
    <i class="icon ion-ios-search-strong"></i> 详情</button>

<button type="button" class="btn btn-info" style="color:white" (click)="showInport($event);$event.stopPropagation();">
    <i class="icon ion-ios-upload-outline"></i> 导入</button>-->
<script src="../../activeList/activeListAction/activeListAction.component.ts"></script>
<button type="button" class="btn btn-danger" style="color:white" (click)="del();$event.stopPropagation();">
    <i class="icon ion-ios-trash-outline"></i> 删除</button>

