<button type="button" class="btn btn-primary" style="color:white" (click)="jumpDetail($event);$event.stopPropagation();">详情</button>

<button type="button" class="btn btn-info" style="color:white" (click)="showInport($event);$event.stopPropagation();">导入</button>
<button type="button" class="btn btn-danger" style="color:white" (click)="del();$event.stopPropagation();">删除</button>


<p-dialog header="导入数据" (click)="$event.stopPropagation();" [(visible)]="isInport" [draggable]="false" [resizable]="false">
  <div class="setting-container">
    <div class="setting-item">
      <label>csv文件:</label>
      <p-fileUpload  (onBeforeUpload)="onBeforeUpload($event)" name="csvfile" mode="basic" [auto]="true"
        (onUpload)="uploadFile($event)" [chooseLabel]="csvfile ==undefined?'upload':csvfile"
        url="/cep/activeList/updateCsv"></p-fileUpload>
    </div>
  </div>
</p-dialog>
