<div class="logo" style="margin: 20px 10px;z-index: 1000">
<img src="assets/images/logow.png" alt="" style="width: 10vw;">
</div>

<div class="bg" style='background: url("assets/images/login-background.jpg");background-size:cover;'>

  <div style="justify-content: center;align-items: center;height:350px">

    <div>
      <div style="color:  white; font-size:18px;padding:7px 0">安全态势感知平台</div>
    </div>
    <div>
      <div class="form-group form-inline">
        <input style="width: 250px" class="form-control" [(ngModel)]="user.username" name="username" placeholder="用户名" id="input-username">
        <input style="width: 250px"  class="form-control" type="password" [(ngModel)]="user.password" name="password" placeholder="密码" id="input-password">
        <div (click)="login()" style="padding:5.7px 30px;color:white;background:#5cc05c;cursor: pointer;">
           登陆
          </div>
      </div>

      <div class="form-group form-inline">
          <input class="form-control" [(ngModel)]="user.validateCode" name="validateCode" placeholder="验证码"
          id="input-validateCode">
        <img [src]="codeSrc" (click)="changeCode()" style="height:29px;margin-left:50px" alt="">
      </div>
      
    </div>
    <p style="font-size:18px;color:red;">{{errors}}</p>
  </div>
</div>