<!-- common setting -->
<div class="setting-container">
  <div class="setting-item">
    <label>是否显示图例:</label>
    <nb-checkbox [(ngModel)]="form['legend']['show']"></nb-checkbox>
  </div>

  <div class="setting-item">
    <label>颜色:</label>
    <p-colorPicker [(ngModel)]="form['color']"></p-colorPicker>
  </div>
</div>
<!-- pie special setting -->
<div class="setting-container" *ngIf="panelData.type == 'pie'">
  <div class="setting-item" *ngFor="let v of ['磁盘','CPU','内存','日志']; let i = index">
    <label>{{v}} 跳转链接:</label>
    <input type="text" nbInput fieldSize="small" [(ngModel)]="form['special']['jumpUrl'][i]">
  </div>
</div>
<button nbButton fullWidth (click)="save()">保存</button>