<script src="agent.component.ts"></script>
<nb-card style="min-height: 83vh">
  <nb-card-header>
    采集器配置
  </nb-card-header>

  <nb-card-body>
    <button (click)="showNew()" class="custom-button-left"> <i class="ion ion-plus"></i> 新建</button>
    <ng2-smart-table [source]="agentSource" [settings]="settings" (userRowSelect)="showEdit($event)"
      (deleteConfirm)="delUser($event)"></ng2-smart-table>
  </nb-card-body>
</nb-card>
<p-dialog header="采集器配置" [(visible)]="isEdit" [draggable]="true" [resizable]="false">

  <div class="setting-container" *ngIf="user!==undefined">
    <div class="setting-item">
      <label>采集器名称:</label>
      <input type="text" nbInput [(ngModel)]="user.agentName" fullWidth>
    </div>

    <div class="setting-item">
      <label>采集器IP:</label>
      <input type="text" nbInput [(ngModel)]="user.agentAddress" fullWidth>
    </div>

    <div class="setting-item">
      <label>识别key:</label>
      <input type="text" nbInput [(ngModel)]="user.agentKey" fullWidth>
    </div>
    <div class="setting-item">
      <label>脱敏规则:</label>
      <nb-select multiple placeholder="请选脱敏规则配置" [(selected)]="user.desen_rule_id"
        (selectedChange)="changeDesen($event)" style="width: 200px">
        <nb-option [value]="role.id" *ngFor="let role of dRuleList">{{role.desenName}}</nb-option>
      </nb-select>
    </div>
    <div class="setting-item" style="height:auto">
      <label>参数查看:</label>
      <nb-accordion class="expaned" style="width:100%">
        <nb-accordion-item *ngFor="let ikey of objectKeys(agentConfig)">
          <nb-accordion-item-header>{{ikey}}</nb-accordion-item-header>
          <nb-accordion-item-body>
            <div *ngFor="let okey of objectKeys(agentConfig[ikey])">
              <div class="setting-item">
                <label style="width:250px">{{okey}}</label>
                <span>{{agentConfig[ikey][okey]}}</span>
              </div>
            </div>
          </nb-accordion-item-body>
        </nb-accordion-item>
      </nb-accordion>
    </div>
  </div>
  <button class="btn btn-success" style="float: right;margin-right: 20px;" (click)="saveUser()">保存</button>
  <button  class="btn btn-info" style="float: right;margin-right: 20px;"  (click)="showCharts()">查看图表</button>
</p-dialog>


<p-dialog header="图表" [(visible)]="isShowCharts" [draggable]="true" [resizable]="false">
  <div style="width:1200px;height:600px;">
    <div style="width:400px;height:300px;float: left;">
      <div echarts [options]="chartOptions1" style="height:100%;width:100%">
      </div>
    </div>
    <div style="width:400px;height:300px;float: left;">
      <div echarts [options]="chartOptions2" style="height:100%;width:100%">
      </div>
    </div>
    <div style="width:400px;height:300px;float: left;">
      <div echarts [options]="chartOptions3" style="height:100%;width:100%">
      </div>
    </div>
    <div style="width:400px;height:300px;float: left;">
      <div echarts [options]="chartOptions4" style="height:100%;width:100%">
      </div>
    </div>
    <div style="width:400px;height:300px;float: left;">
      <div echarts [options]="chartOptions5" style="height:100%;width:100%">
      </div>
    </div>
  </div>
</p-dialog>
