
<div style="height:100%;width:100%;display:flex;    flex-direction: column;">

    <div style="display:flex;flex-wrap:wrap">
        <div *ngIf="!(isEdit|async)">{{item.panelData.title}}</div>
        <input *ngIf="(isEdit|async)" nbInput fullWidth type="text" [(ngModel)]="item.panelData.title">
        <nb-actions size="medium" style="flex:1;" *ngIf="isEdit|async">
          <nb-action icon="nb-grid-b" title="查看报表"></nb-action>
          <nb-action icon="nb-grid-b-outline" title="选择可视化"
          [nbPopover]="chartList"
          nbPopoverPlacement="bottom"
          ></nb-action>
          <nb-action icon="nb-edit" title="设置" 
          [nbPopover]="setting"
          nbPopoverPlacement="bottom"
          (click)="openSetting()"
          >
          </nb-action>
          <nb-action icon="nb-close" (click)="delContainer()" title="删除">
          </nb-action>
        </nb-actions>
    </div>
    <div style="flex:1">
        <ng-template #chart></ng-template>
    </div>
</div>


<ng-template #chartList>
    <ngx-chart-list (onSelectChart)="changeChart($event)"></ngx-chart-list>
</ng-template>


<ng-template #setting>
<ngx-charts-setting></ngx-charts-setting>
</ng-template>