.chart-item {
    margin: 5px;
    padding: 5px;
    display: flex;
    font-size: 1.2rem;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    flex-direction: column-reverse;
    border: 2px solid rgba(0, 0, 100, 0);
    filter: grayscale(100%);

    .img {
        width: 155px;
        height: 100px;
        background-size: cover;
    }
}

.chart-item:hover,
.active {
    filter: grayscale(0%);
    border: 2px solid rgba(0, 0, 100, 0.2);
}

.charts-container {
    padding: 10px 20px;
    display: flex;
    max-width: 100%;
    max-height: 350px;
    flex-wrap: wrap;
    overflow: auto;
}