.my-menu {
    list-style: none;

    .my-menu-li {
        padding: 10px;
        cursor: pointer;
        border-left: 3px solid rgba(0, 0, 0, 0);
    }

    .my-menu-li:hover {
        color: black;
        border-left: 3px solid #a5abb3;
    }

    .active {
        color: black;
        border-left: 3px solid #a5abb3;
    }
}

.charts-container {
    min-width: 901px;
    display: flex;

    .charts-items {
        margin: 10px 20px;
        display: flex;
        flex: 1;
        flex-wrap: wrap;

        .charts-item {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin: 10px;
            padding: 10px;
            height: 170px;
            width: 220px;
            cursor: pointer;
            filter: grayscale(100%);

            img {
                width: 200px;
                height: 150px;
                background-size: cover;
            }

            .nb-trash {
                display: none;
                position: absolute;
                bottom: 40px;
                right: 10px;
                font-size: 40px;
            }
        }

        .add-template {
            display: none;
        }
    }
}

.isEdit {
    .charts-item:hover {
        filter: grayscale(0%);
        color: black;

        .nb-trash {
            display: block !important;
        }

        .nb-trash:hover {
            color: red;
        }
    }

    .add-template {
        display: block !important;
    }
}