@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&display=swap');

// themes - our custom or/and out of the box themes
@import 'themes';

// framework component themes (styles tied to theme variables)
@import '~@nebular/theme/styles/globals';
@import '~@nebular/auth/styles/all';

@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';
@import '~bootstrap/scss/grid';

// loading progress bar theme
@import './pace.theme';

@import './layout';
@import './overrides';

// install the framework and custom global styles
@include nb-install() {

  // framework global styles
  @include nb-theme-global();
  @include nb-auth-global();

  @include ngx-layout();
  // loading progress bar
  @include ngx-pace-theme();

  @include nb-overrides();

  html {
    font-size: 14px;
  }



  label{
    color:nb-theme(text-basic-color)
  }


  .center {
    display: flex;
    align-items: center;
  }

  .input-group {
    margin-bottom: 14px;
  }

  ng2-smart-table .ng2-smart-actions a.ng2-smart-action,
  .nb-theme-corporate ng2-smart-table .ng2-smart-actions a.ng2-smart-action {
    font-size: 14px;
  }


  .grid-stack-item-content {
    background: nb-theme(background-basic-color-4);
    padding: 10px;
    text-align: center;
    border-radius: 0.25rem;
    box-shadow: nb-theme(slide-out-shadow-color);
    color: #1a2138;
  }

  .layout {
    background: nb-theme(background-basic-color-2);
  }

  nb-layout-header nav {
    background: black;
    color: white;

    .logo {
      color: white;
    }
  }

  .ui-dialog {
    .ui-dialog-titlebar {
      background: black;
      color: white;
    }

    .ui-dialog-content {
      background: nb-theme(background-basic-color-3);
    }
  }


  .setting-container {
    max-width: 60vw;
    min-width: 450px;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;

    .setting-item {
      margin: 10px;
      width: 100%;
      height: 50px;
      display: flex;
      align-items: center;

      input {
        flex: 1;
      }
    }

    label {
      width: 30%;
      padding-right: 10px;
      margin: 0;
    }
  }

  .ui-tree {
    width: 100% !important;
  }


  .ui-orderlist-list {
    height: 70vh !important;
  }




  body .ui-selectbutton .ui-button.ui-state-active {
    background-color: #8783f7 !important;
    border-color: #8783f7 !important;
  }


  .grid-stack[_ngcontent-c15] {
    margin: 0 !important;
  }




  // loadding
  nb-spinner {
    background-color: rgba(0, 0, 0, 0);
  }







}

;
