// themes - our custom or/and out of the box themes
@import 'themes';

// framework component themes (styles tied to theme variables)
@import '~@nebular/theme/styles/globals';
@import '~@nebular/auth/styles/all';
@import '~@nebular/bootstrap/styles/globals';
// ...

// global app font size
@import './font-size';

// loading progress bar theme
@import './pace.theme';

// install the framework and custom global styles
@include nb-install() {

  // framework global styles
  @include nb-theme-global();
  @include nb-auth-global();
  @include nb-bootstrap-global();

  // loading progress bar
  @include ngx-pace-theme();
}

;


.center {
  display: flex;
  align-items: center;
}

.input-group {
  margin-bottom: 14px;
}

ng2-smart-table .ng2-smart-actions a.ng2-smart-action {
  font-size: 14px !important;
}

.grid-stack-item-content {
  padding: 10px;
  border: solid lightcyan;
  text-align: center;
}

select {
  color: black !important;
}

.nb-theme-default ng2-smart-table .ng2-smart-actions a.ng2-smart-action {
  font-size: 12px !important;
}






.setting-container {
  max-width: 600px;
  min-width: 450px;
  padding: 10px;
  display: flex;
  flex-wrap: wrap;

  .setting-item {
    margin: 10px;
    width: 100%;
    display: flex;
    align-items: center;
  }

  label {
    width: 30%;
    padding-right: 10px;
    margin: 0px;
  }
}

.ui-tree{
  width:100%!important;
}