@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&display=swap');

// themes - our custom or/and out of the box themes
@import 'themes';

// framework component themes (styles tied to theme variables)
@import '~@nebular/theme/styles/globals';
@import '~@nebular/auth/styles/all';

@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';
@import '~bootstrap/scss/grid';

// loading progress bar theme
@import './pace.theme';

@import './layout';
@import './overrides';

// install the framework and custom global styles
@include nb-install() {

  // framework global styles
  @include nb-theme-global();
  @include nb-auth-global();

  @include ngx-layout();
  // loading progress bar
  @include ngx-pace-theme();

  @include nb-overrides();

  html {
    font-size: 14px;
  }



  label {
    color: nb-theme(text-basic-color)
  }

  .responsive_headline {
    color: nb-theme(text-basic-color)
  }


  .center {
    display: flex;
    align-items: center;
  }

  .input-group {
    margin-bottom: 14px;
  }

  ng2-smart-table .ng2-smart-actions a.ng2-smart-action,
  .nb-theme-corporate ng2-smart-table .ng2-smart-actions a.ng2-smart-action {
    font-size: 14px;
  }


  .grid-stack-item-content {
    background: nb-theme(background-basic-color-4);
    padding: 10px;
    text-align: center;
    border-radius: 0.25rem;
    box-shadow: nb-theme(slide-out-shadow-color);
    color: #1a2138;
  }

  .grid-stack-item {
    margin-top: 10px;
  }


  .grid-stack,
  .layout {
    background: nb-theme(background-basic-color-2);
  }

  nb-layout-header nav {
    background: black;
    color: white;

    .logo {
      color: white;
    }
  }

  .ui-dialog {
    .ui-dialog-titlebar {
      background: black;
      color: white;
    }

    .ui-dialog-content {
      background: nb-theme(background-basic-color-3);
      // height: 500px !important;
      overflow: auto;
    }
  }


  .setting-container {
    max-width: 60vw;
    min-width: 450px;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;

    .setting-item {
      margin: 10px;
      width: 100%;
      height: 30px;

      display: flex;
      align-items: center;

      label {
        margin: 0px;
      }

      input {
        flex: 1;
      }



    }


    label {
      width: 30%;
      padding-right: 10px;
      margin: 0;
    }
  }

  .expaned {
    margin: 10px;

    .setting-item {
      height: 20px;
      display: flex;
      justify-content: space-between
    }

    label {
      margin: 0px;
    }

    span {
      flex: 1;
      display: flex;
      justify-content: flex-end;
      padding-right: 30px;
    }
  }

  nb-accordion nb-accordion-item {
    background: rgba(0, 0, 0, 0);
  }

  .ui-tree {
    width: 100% !important;
    background: rgba(0, 0, 0, 0);
    border: 1px solid nb-theme(background-basic-color-4);
  }


  .ui-orderlist-list {
    height: 70vh !important;
  }




  .ui-selectbutton .ui-button.ui-state-active {
    background-color: #8783f7 !important;
    border-color: #8783f7 !important;
  }

  .ui-dialog .ui-dialog-content {
    color: nb-theme(text-basic-color)
  }

  .ui-dialog .ui-dialog-footer {
    background-color: nb-theme(background-basic-color-2);
  }


  .grid-stack[_ngcontent-c15] {
    margin: 0 !important;
  }




  // loadding
  nb-spinner {
    background-color: rgba(0, 0, 0, 0);
  }


  .ui-table {
    border: 1px solid black;

    .ui-table-thead {
      th {
        background-color: rgba(0, 0, 0, 0);
        color: nb-theme(text-basic-color);
        border: 0px;
      }
    }

    .ui-table-tbody {
      tr {
        background-color: nb-theme(background-basic-color-3);
        color: nb-theme(text-basic-color);

        td {
          border: 0px;
        }
      }

      tr:nth-child(even) {
        background-color: nb-theme(background-basic-color-2);
        color: nb-theme(text-basic-color);
      }
    }
  }




  .ui-treetable .ui-treetable-thead>tr>th {
    background-color: rgba(0, 0, 0, 0);
    color: nb-theme(text-basic-color);
  }

  .ui-treetable .ui-treetable-tbody>tr>td,
  .ui-treetable .ui-treetable-thead>tr>th {
    border: 1px solid nb-theme(background-basic-color-4);
  }

  .ui-treetable .ui-treetable-tbody>tr {
    background-color: rgba(0, 0, 0, 0);
    color: nb-theme(text-basic-color);
  }


  .half-checked {
    .ui-chkbox-box {
      background: #307bd2 !important;
    }
  }

  .ng-star-inserted {
    word-break: break-all;
  }

  nb-accordion {
    box-shadow: none !important;
  }

  .btn {
    margin: 10px 10px 10px 0px;
  }

  .menu-item {
    .menu-items {
      .menu-item {
        .menu-items {
          padding: 0px !important;
        }
      }
    }
  }

}

;
