<nb-card>
  <nb-card-header>
    实时分析规则
  </nb-card-header>

  <nb-card-body>
    <button nbButton style="margin:10px 0" (click)="showNew()">新建</button>
    <ng2-smart-table [source]="agentSource" [settings]="settings" (userRowSelect)="showEdit($event)" (deleteConfirm)="delUser($event)"></ng2-smart-table>
  </nb-card-body>
</nb-card>
<p-dialog header="实时分析规则" [(visible)]="isEdit" [draggable]="false" [resizable]="false">
  <div class="setting-container" >

    <div class="setting-item">
      <label>类型:</label>
      <nb-select  placeholder="请选择类型" [(selected)]="user.type" (selectedChange)="changeActive($event)" style="width: 200px">
        <nb-option [value]="0" >sql</nb-option>
        <nb-option [value]="1" >cep</nb-option>
        <nb-option [value]="2" >etl</nb-option>
      </nb-select>
    </div>


    <div class="setting-item">
      <label>规则编号:</label>
      <input type="text" nbInput [(ngModel)]="user.ruleNo" fullWidth>
    </div>

    <div class="setting-item">
      <label>状态:</label>
      <input type="text" nbInput [(ngModel)]="user.status" fullWidth>
    </div>

    <div class="setting-item">
      <label>并发度:</label>
      <input type="text" nbInput [(ngModel)]="user.parallelism" fullWidth>
    </div>
    <div class="setting-item">
      <label>数据源:</label>
      <nb-select  placeholder="请选择数据源" [(selected)]="user.sourceId" (selectedChange)="changeActive($event)" style="width: 200px">
        <nb-option [value]="1" >kafka_events</nb-option>
      </nb-select>
    </div>
    <div class="setting-item">
      <label>规则结果输出配置:</label>
      <nb-select multiple placeholder="请选规则结果输出配置" [(selected)]="user.rule_sink_id" style="width: 200px">
        <nb-option [value]="role.id" *ngFor="let role of sinkList">{{role.name}}</nb-option>
      </nb-select>
    </div>
    <div class="setting-item" style="height:auto">
      <label>规则明细:</label>
      <div id="agent-json-editor" style="height:200px;flex:1;margin:10px 0"></div>
    </div>
  </div>
  <button nbButton fullWidth (click)="saveUser()">保存</button>
</p-dialog>

