<nb-card style="min-height: 83vh">
  <nb-card-header>
    ETL规则类型
  </nb-card-header>

  <nb-card-body>
    <button (click)="showNew()" class="custom-button-left"> <i class="ion ion-plus"></i> 新建</button>
    <!-- <ng2-smart-table [source]="userList | async" [settings]="settings" (userRowSelect)="showEdit($event)" (deleteConfirm)="delUser($event)"></ng2-smart-table> -->
    <p-table [value]="etlTypeList |async">
      <ng-template pTemplate="header">
        <tr>
          <th *ngFor="let col of cols">
            {{col.header}}
          </th>
          <th style="width: 250px">
            操作
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-etltype>
        <tr>
          <td *ngFor="let col of cols">
            {{etltype[col.field]}}
          </td>
          <td>
            <button type="button" class="btn btn-primary" style="color:white" (click)="showEdit(etltype);">
              <i class="icon ion-edit"></i> 编辑</button>
            <button type="button" class="btn btn-danger" style="color:white" (click)="del(etltype);">
              <i class="icon ion-ios-trash-outline"></i> 删除</button>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </nb-card-body>
</nb-card>
<p-dialog header="ETL规则类型" [(visible)]="isEdit" [draggable]="false" [resizable]="false">
  <div class="setting-container">
    <div class="setting-item">
      <label>日志类型:</label>
      <input type="text" nbInput [(ngModel)]="etltype.etlType" fullWidth>
    </div>

    <div class="setting-item">
      <label>消息格式:</label>
      <input type="text" nbInput [(ngModel)]="etltype.bodyType" fullWidth>
    </div>

    <div class="setting-item" style="height:auto">
      <label>日期格式:</label>
      <input type="text" nbInput [(ngModel)]="etltype.timeFormat" fullWidth>
    </div>

    <div class="setting-item">
      <label>日期地区:</label>
      <input type="text" nbInput [(ngModel)]="etltype.timeLocale" fullWidth>
    </div>
  </div>
  <button class="btn btn-success" style="float: right;margin-right: 20px;" (click)="save()">保存</button>
</p-dialog>
