@import '../../../@theme/styles/themes';
@include nb-install-component() {
  .custom-icon {
    font-size: 30px;
  }

  .setting-item {
    svg {
      width: 50px;
      height: 50px;
    }
  }

  .menu-icons {
    flex: 1;
    height: 20vh;
    padding: 10px 0;
    margin: 10px 0;
    overflow: auto;
    display: flex;
    flex-wrap: wrap;
    font-size: 30px;
    color: nb-theme(text-basic-color)
  }

  .icon {
    color: nb-theme(text-basic-color)
  }


}
