@import '../../../@theme/styles/themes';

@include nb-install-component {
  label{
    margin: 0px;
    display: flex;
    align-items: center;
  }
  .setting-form {
    height: 200px;
    width: 400px;
    display: flex;
    flex-direction: row;

    .setting-form-menu {
      margin: 0px;
      padding: 0px;
      width: 150px;
      background: nb-theme(background-basic-color-4);
      list-style: none;

      li {
        margin: 0px;
        padding: 10px 16px;
        cursor: pointer;
      }
      li:hover,.active{
        color: nb-theme(color-primary-focus)
      }
    }

    .setting-form-container {
      padding: 10px;
    }

    .setting-form-item {
      display: flex;
      flex-direction: row;
      padding-bottom: 10px;

      label {
        width: 40%;
      }

      div {
        flex: 1
      }
    }
  }
}
