<nb-card style="min-height: 83vh">
  <nb-card-header>
    角色列表
  </nb-card-header>

  <nb-card-body>
    <p-confirmDialog header="Confirmation" icon="pi pi-exclamation-triangle"></p-confirmDialog>
    <button (click)="showNew()" class="custom-button-left"> <i class="ion ion-plus"></i> 新建</button>
    <!-- <ng2-smart-table [source]="roleList" [settings]="settings" (userRowSelect)="showEdit($event)"
      (deleteConfirm)="delRole($event)">
    </ng2-smart-table> -->
    <p-table [value]="roleList |async">
      <ng-template pTemplate="header">
        <tr>
          <th *ngFor="let col of cols">
            {{col.header}}
          </th>
          <th style="width: 250px">
            操作
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-role>
        <tr>
          <td *ngFor="let col of cols">
            {{role[col.field]}}
          </td>
          <td>
            <button type="button" class="btn btn-primary" style="color:white" (click)="showEdit(role);">
              <i class="icon ion-edit"></i> 编辑</button>
            <button type="button" class="btn btn-danger" style="color:white" (click)="del(role);">
              <i class="icon ion-ios-trash-outline"></i> 删除</button>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </nb-card-body>
</nb-card>
<p-dialog header="编辑角色" [(visible)]="isEdit" [draggable]="false" [resizable]="false">
  <div class="setting-container" style="width: 600px">
    <div class="setting-item">
      <label>角色名称:</label>
      <input type="text" nbInput [(ngModel)]="role.roleName" fullWidth>
    </div>

    <div class="setting-item">
      <label>权限字符:</label>
      <input type="text" nbInput [(ngModel)]="role.roleKey" fullWidth>
    </div>

    <div class="setting-item">
      <label>状态:</label>
      <p-inputSwitch [ngModel]="role.status == 0" (onChange)="handleChange($event)"></p-inputSwitch>
    </div>

    <div class="setting-item">
      <label>菜单权限:</label>
    </div>
    <div style="height: 250px;overflow:auto;width:100%;">
      <p-tree [value]="menus">
        <ng-template let-node pTemplate="default">
          <p-checkbox name="groupname" binary="true" [(ngModel)]="node.data.checked"
            [ngClass]="{'half-checked':checkParentIsChecked(node)}" (onChange)="changeMenus($event,node)"></p-checkbox>
          <label>{{node.label}}</label>
        </ng-template>
      </p-tree>
    </div>


  </div>
  <button class="btn btn-success" style="float: right;margin-right: 20px;" (click)="save()">保存</button>
</p-dialog>
