<div class="dashboard-header">
    <div class="dashboard-title">
        <h1>{{title}}</h1>
    </div>
    <div>
        <button nbButton  size="small" (click)="switchEdit()" *ngIf="!isEdit" style="margin:10px;">编辑</button>
        <button nbButton size="small" status="danger" (click)="cancel()" *ngIf="isEdit" style="margin:10px;">取消</button>

        <button nbButton size="small" (click)="saveDashboard()" *ngIf="isEdit" style="margin:10px;">保存</button>
        <button nbButton size="small" (click)="showNew()" *ngIf="isEdit" style="margin:10px;">新增</button>
    </div>
</div>
<ngx-grid-stack class="grid-stack" [options]="options" *ngIf="containers.length > 0">
    <ngx-grid-stack-item [option]="item.option" class="grid-stack-item" *ngFor="let item of containers "
        id="widget-{{item.key}}">
        <ngx-dashboard-container [item]="item" (mousedown)="isEdit||$event.stopPropagation();">
        </ngx-dashboard-container>
    </ngx-grid-stack-item>
</ngx-grid-stack>



<p-dialog header="新建图表" [(visible)]="isNew">
    <ngx-defined-chartlist></ngx-defined-chartlist>
</p-dialog>