<div class="dashboard-header">
    <div class="dashboard-title">
        <h1>{{title}}</h1>
    </div>
    <div style="margin-top: -75px;">
        <button nbButton size="medium" (click)="switchEdit()" *ngIf="!isEdit" style="margin:10px;">编辑</button>
        <button nbButton size="medium" status="danger" (click)="cancel()" *ngIf="isEdit" style="margin:10px;">取消</button>

        <button nbButton size="medium" (click)="saveDashboard()" *ngIf="isEdit" style="margin:10px;">保存</button>
        <button nbButton size="medium" (click)="showNew()" *ngIf="isEdit" style="margin:10px;">新增</button>
        <button nbButton size="medium" (click)="launchIntoFullscreen()" style="margin:10px;">全屏</button>
        
    </div>
</div>
<ngx-grid-stack #gridstack class="grid-stack" id="grid-stack" [options]="options" *ngIf="containers.length > 0">
    <ngx-grid-stack-item [option]="item.option" class="grid-stack-item" *ngFor="let item of containers "
        id="widget-{{item.key}}">
        <ngx-dashboard-container [item]="item">
        </ngx-dashboard-container>
    </ngx-grid-stack-item>
</ngx-grid-stack>



<p-dialog header="新建图表" [(visible)]="isNew"  [draggable]="false" [resizable]="false" [contentStyle]="{'overflow': 'auto'}">
    <div style="max-width: 910px;max-height:500px;">
        <ngx-chart-template-list [charts]="charts" (onSelectChart)="addContainer($event.id)"></ngx-chart-template-list>
    </div>
</p-dialog>

<ngx-dashboard-setting></ngx-dashboard-setting>