<nb-card>
  <nb-card-header>
    用户列表
  </nb-card-header>

  <nb-card-body>
    <button nbButton style="margin:10px 0" (click)="showNew()">新建</button>
    <ng2-smart-table [source]="userList | async" [settings]="settings" (userRowSelect)="showEdit($event)"></ng2-smart-table>
  </nb-card-body>
</nb-card>
<p-dialog header="新建用户" [(visible)]="isEdit" [draggable]="false" [resizable]="false">
  <div class="setting-container" style="width: 600px">
    <div class="setting-item">
      <label>loginName:</label>
      <input type="text" nbInput [(ngModel)]="user.loginName" fullWidth>
    </div>

    <div class="setting-item">
      <label>userName:</label>
      <input type="text" nbInput [(ngModel)]="user.userName" fullWidth>
    </div>

    <div class="setting-item">
      <label>email:</label>
      <input type="text" nbInput [(ngModel)]="user.email" fullWidth>
    </div>

    <div class="setting-item">
      <label>password:</label>
      <input type="text" nbInput [(ngModel)]="user.password" fullWidth>
    </div>
    
    <div class="setting-item">
      <label>性别:</label>
      <nb-radio-group [(ngModel)]="user.sex" style="display:flex">
        <nb-radio value="0">女</nb-radio>
        <nb-radio value="1">男</nb-radio>
      </nb-radio-group>
    </div>
    
  </div>
  <button nbButton fullWidth (click)="saveUser()">保存</button>
</p-dialog>