<ngx-defined-chartlist [charts]="charts" [isEdit]="true" (onDelete)="del($event)"
    (onSelectChart)="editDefinedChart($event)" (onAddChart)="addDefinedChart()">
</ngx-defined-chartlist>
<p-confirmDialog header="Confirmation" icon="pi pi-exclamation-triangle"></p-confirmDialog>
<p-dialog header="新建预设图表" [(visible)]="isEdit">
    <div class="setting-container" style="min-width: 600px">
        <div class="setting-item">
            <label>默认索引:</label>
            <input type="text" nbInput [(ngModel)]="defaultChart.default_index">
        </div>
        <div class="setting-item">
            <label>所属分类:</label>
            <nb-select [(selected)]="defaultChart.category_a" placeholder="category_a" style="min-width:200px"
                size="small">
                <nb-option [value]="category" *ngFor="let category of category_a_items">{{category}}</nb-option>
            </nb-select>
        </div>

        <div class="setting-item">
            <label>所属子类:</label>
            <input type="text" nbInput [(ngModel)]="defaultChart.category_b">
        </div>
        <div class="setting-item">
            <label>图表名称:</label>
            <input type="text" nbInput [(ngModel)]="defaultChart.chart_name">
        </div>
        <div class="setting-item">
            <label>排序号码:</label>
            <input type="text" nbInput [(ngModel)]="defaultChart.sortid">
        </div>
        <div class="setting-item">
            <label>图片上传:</label>
            <p-fileUpload name="chartimg" mode="basic" [auto]="true" (onUpload)="setChartImg($event)" [chooseLabel]="defaultChart.chart_img ==undefined?'upload':defaultChart.chart_img"
                url="/elasticsearch/updateChartImg"></p-fileUpload>
            <!-- <input type="text" nbInput [(ngModel)]="defaultChart.chart_img"> -->
        </div>
        <div class="setting-item">
            <label>默认图表类型:</label>
            <ngx-chart-list [selected]="defaultChart.default_chart_type" (onSelectChart)="changeChart($event)">
            </ngx-chart-list>
        </div>
        <div class="setting-item">
            <label>预定义语句:</label>
            <div id="editor" style="height:300px;flex:1;margin:10px 0"></div>
        </div>
    </div>
    <button nbButton fullWidth (click)="handleClick()">保存</button>
</p-dialog>