<nb-card style="min-height: 83vh">
  <nb-card-header>
    活动列表配置
  </nb-card-header>

  <nb-card-body>
    <button (click)="showNew()" class="custom-button-left"> <i class="ion ion-plus"></i> 新建</button>
    <!-- <ng2-smart-table [source]="activeList | async" [settings]="settings" (userRowSelect)="showEdit($event)">
    </ng2-smart-table> -->
    <p-table [value]="activeList |async">
      <ng-template pTemplate="header">
        <tr>
          <th *ngFor="let col of cols">
            {{col.header}}
          </th>
          <th style="width: 300px">
            操作
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-active>
        <tr>
          <td *ngFor="let col of cols">
            {{active[col.field]}}
          </td>
          <td>
            <button type="button" class="btn btn-primary" style="color:white" (click)="showEdit(active);">
              <i class="icon ion-edit"></i> 编辑</button>
            <button type="button" class="btn btn-primary" style="color:white" (click)="jumpDetail(active);">
              <i class="icon ion-ios-search-strong"></i> 详情</button>

            <button type="button" class="btn btn-info" style="color:white" (click)="showInport(active);">
              <i class="icon ion-ios-upload-outline"></i> 导入</button>
            <button type="button" class="btn btn-danger" style="color:white" (click)="del(active);">
              <i class="icon ion-ios-trash-outline"></i> 删除</button>

          </td>
        </tr>
      </ng-template>
    </p-table>
  </nb-card-body>
</nb-card>
<p-dialog header="活动列表配置" [(visible)]="isEdit" [draggable]="false" [resizable]="false">
  <div class="setting-container" style="width: 600px">
    <div class="setting-item">
      <label>名称:</label>
      <input type="text" class="form-control" [(ngModel)]="active.listName">
    </div>

    <div class="setting-item">
      <label>编号:</label>
      <input type="text" class="form-control" [(ngModel)]="active.listNo">
    </div>

    <div class="setting-item">
      <label>类型:</label>
      <input type="text" class="form-control" [(ngModel)]="active.type">
    </div>

    <div class="setting-item">
      <label>状态:</label>
      <input type="text" class="form-control" [(ngModel)]="active.status">
    </div>

    <div class="setting-item">
      <label>最大值:</label>
      <input type="text" class="form-control" [(ngModel)]="active.maxsize">
    </div>

    <div class="setting-item">
      <label>超时时间:</label>
      <input type="text" class="form-control" [(ngModel)]="active.timeout">
    </div>

    <div class="setting-item">
      <label>备注:</label>
      <input type="text" class="form-control" [(ngModel)]="active.remark">
    </div>
  </div>
  <button class="btn btn-success" style="float: right;margin-right: 20px;" (click)="save()">保存</button>
</p-dialog>


<p-dialog header="导入数据" (click)="$event.stopPropagation();" [(visible)]="isInport" [draggable]="false"
  [resizable]="false">
  <div class="setting-container">
    <div class="setting-item">
      <label>csv文件:</label>
      <p-fileUpload (onBeforeUpload)="onBeforeUpload($event)" name="csvfile" mode="basic" [auto]="true"
        (onUpload)="uploadFile($event)" [chooseLabel]="csvfile ==undefined?'upload':csvfile"
        url="/cep/activeList/updateCsv"></p-fileUpload>
    </div>
  </div>
</p-dialog>