<nb-card>
  <nb-card-header>
    活动列表配置
  </nb-card-header>

  <nb-card-body>
    <button nbButton style="margin:10px 0" (click)="showNew()">新建</button>
    <ng2-smart-table [source]="userList | async" [settings]="settings" (userRowSelect)="showEdit($event)" (deleteConfirm)="delUser($event)"></ng2-smart-table>
  </nb-card-body>
</nb-card>
<p-dialog header="活动列表配置" [(visible)]="isEdit" [draggable]="false" [resizable]="false">
  <div class="setting-container" style="width: 600px">
    <div class="setting-item">
      <label>名称:</label>
      <input type="text" nbInput [(ngModel)]="user.listName" fullWidth>
    </div>

    <div class="setting-item">
      <label>编号:</label>
      <input type="text" nbInput [(ngModel)]="user.listNo" fullWidth>
    </div>

    <div class="setting-item">
      <label>类型:</label>
      <input type="text" nbInput [(ngModel)]="user.type" fullWidth>
    </div>

    <div class="setting-item">
      <label>状态:</label>
      <input type="text" nbInput [(ngModel)]="user.status" fullWidth>
    </div>

    <div class="setting-item">
      <label>最大值:</label>
      <input type="text" nbInput [(ngModel)]="user.maxsize" fullWidth>
    </div>

    <div class="setting-item">
      <label>超时时间:</label>
      <input type="text" nbInput [(ngModel)]="user.timeout" fullWidth>
    </div>

    <div class="setting-item">
      <label>备注:</label>
      <input type="text" nbInput [(ngModel)]="user.remark" fullWidth>
    </div>
  </div>
  <button nbButton fullWidth (click)="saveUser()">保存</button>
</p-dialog>

