<button nbButton (click)="showAddMenu()" style="margin:10px">新增</button>
<button nbButton (click)="saveMenus()" style="margin:10px">保存</button>

<div style="padding:10px">
    <p-orderList [value]="menus" dragdrop="true" controlsPosition="right">
        <ng-template let-menu pTemplate="item">
          <div class="ui-helper-clearfix">
            <div style="font-size:14px;margin:15px 5px 0 0">{{menu.label}}</div>
          </div>
        </ng-template>
      </p-orderList>
</div>


<p-dialog header="新建Dashboard" [(visible)]="isAdd">
  <div class="setting-container" style="width: 600px">
    <div class="setting-item">
      <label>菜单名:</label>
      <input type="text" nbInput [(ngModel)]="menu.label" fullWidth>
    </div>
  </div>


  <button nbButton fullWidth (click)="addMenus()">保存</button>
</p-dialog>