<nb-card>
  <nb-card-header>
    活动列表明细
  </nb-card-header>

  <nb-card-body>
    <button (click)="back()" type="submit" class="btn btn-primary">返回</button>

    <button (click)="showNew()" class="btn btn-primary">新建</button>


    <ng2-smart-table [source]="agentSource" [settings]="settings" (userRowSelect)="showEdit($event)"
      (deleteConfirm)="delUser($event)"></ng2-smart-table>
  </nb-card-body>
</nb-card>
<p-dialog header="新建活动列表明细" [(visible)]="isEdit" [draggable]="false" [resizable]="false">
  <div class="setting-container">

    <div class="setting-item">
      <label>活动列表:</label>
      <select class="form-control" [(ngModel)]="user.listId" style="width: auto">
        <option [value]="activelist.id" *ngFor="let activelist of activeList">{{activelist.listName}}</option>
      </select>
    </div>
    <div class="setting-item">
      <label>值:</label>
      <input type="text" class="form-control" [(ngModel)]="user.value">
    </div>
  </div>
  <button nbButton fullWidth (click)="saveUser()">保存</button>
</p-dialog>


