<nb-card>
  <nb-card-header>
    输出数据源配置
  </nb-card-header>

  <nb-card-body>
    <button nbButton style="margin:10px 0" (click)="showNew()">新建</button>
    <ng2-smart-table [source]="userList | async" [settings]="settings" (userRowSelect)="showEdit($event)"></ng2-smart-table>
  </nb-card-body>
</nb-card>
<p-dialog header="输出数据源配置" [(visible)]="isEdit" [draggable]="false" [resizable]="false">
  <div class="setting-container" style="width: 600px">
    <div class="setting-item">
      <label>名称:</label>
      <input type="text" nbInput [(ngModel)]="user.name" fullWidth>
    </div>

    <div class="setting-item">
      <label>类型:</label>
      <input type="text" nbInput [(ngModel)]="user.type" fullWidth>
    </div>

    <div class="setting-item">
      <label>JSON配置内容:</label>
      <input type="text" nbInput [(ngModel)]="user.content" fullWidth>
    </div>

    <div class="setting-item">
      <label>格式类型:</label>
      <input type="text" nbInput [(ngModel)]="user.format_type" fullWidth>
    </div>
  </div>
  <button nbButton fullWidth (click)="saveUser()">保存</button>
</p-dialog>

